<div *ngFor="let product of products" class="card card-body mb-2">
  <div class="row">
    <div class="col-md-8">
      <ul>
        <p>Dados médicos <br> {{product.createdAt}}</p>
        <li>
          Arterial sistolica: {{product.arterial_sistolica}}
        </li>
        <li>
          Arterial diastolica: {{product.arterial_diastolica}}
        </li>
        <li>
          Pulso: {{product.pulso}}
        </li>
        <li>
          Peso: {{product.peso}}
        </li>
        <li>
          Altura: {{product.altura}}
        </li>
        <li>
          Imc: {{product.imc}}
        </li>
        <li>
          Hipertensão arterial: {{product.charterial}}
        </li>
      </ul>
      <button (click)="deleteProduct(product._id)" class="btn btn-danger">
        Delete
      </button>
      <button [routerLink]="['/product/edit', product._id]" class="btn btn-secondary">
        Edit
      </button>
    </div>
    <div class="col-md-4">
      <img [src]="product.imageURL" class="card-img">
    </div>
  </div>
</div>