<div style="display: block" *ngIf="barChartData">
  <canvas baseChart 
    height="30px" 
    width="100px"
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType"
    [colors]="chartColors">
  </canvas>
</div>


<!-- Add Product List -->
<div *ngFor="let product of products" class="card card-body mb-2">
  <div class="row">
    <div class="col-md-8">
      <ul>
        <!-- <li>
          id: {{product._id}}
        </li> -->
        <li>
          Arterial sistolica: {{product.arterial_sistolica}}
        </li>
        <li>
          Arterial diastolica: {{product.arterial_diastolica}}
        </li>
        <li>
          Pulso: {{product.pulso}}
        </li>
        <li>
          Peso: {{product.peso}}
        </li>
        <li>
          Altura: {{product.altura}}
        </li>
        <li>
          Imc: {{product.imc}}
        </li>
        <li>
          Hipertensão arterial: {{product.charterial}}
        </li>
      </ul>
    </div>
    <!-- <div class="col-md-4">
      <img [src]="product.imageURL" class="card-img">
    </div> -->
  </div>
</div>